<div class="container position-relative mt-5">
  <div class="glass-img rounded-4 border border-dark">
    <img
      src="/assets/images/hero.jpg"
      alt="hero image"
      class="img-fluid rounded-4 w-100"
      style="height: 50vh; object-fit: cover"
    />
    <div
      class="position-absolute top-50 start-50 translate-middle text-white text-center"
    >
      <div class="display-3 fw-bold p-4 rounded-4">
        Experience the Magic of Jeju
      </div>
      <div
        class="btn btn-primary text-white rounded-5 border border-dark"
        onclick="location.href='#walkthrough'"
      >
        Quick Walkthrough
      </div>
    </div>
  </div>
</div>
