<div class="container glass rounded-4 p-2 container-sm-fluid mt-4 border border-dark" style="color: var(--font-color)">
    <div class="row">
        <div class="col-1 d-none d-md-block">
            <img src="/assets/images/jeju.png" class="w-100 p-3 ms-5" alt="" />
        </div>
        <div class="col-12 col-md-11">
            <div class="row me-md-5">
                <div class="col-12 text-center">
                    <a class="navbar-brand fs-1 fw-semibold" href="/index.html">Jeju Island</a>
                </div>
            </div>
            <div class="row me-md-5">
                <div class="col-4 text-end">
                    <a class="nav-link" href="/pages/explore.html">Explore</a>
                </div>
                <div class="col-4 text-center">
                    <a class="nav-link" href="/pages/history.html">History</a>
                </div>
                <div class="col-4 text-start">
                    <a class="nav-link d-md-block d-none" href="/pages/media-spotlight.html">Media Spotlight</a>
                    <a class="nav-link d-block d-md-none" href="/pages/media-spotlight.html">Spotlight</a>
                </div>
            </div>
        </div>
    </div>
</div>