@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

:root {
    --color-primary: #1F87E0;
    --main-font-color: #E0781F;
    --regular-font-color: #2a2b2a;
    --glass-blur: 10px; 
}

body {
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.glass {
    background: rgba(0, 153, 255, 0.2);
    -webkit-backdrop-filter: blur(var(--glass-blur));
    backdrop-filter: blur(var(--glass-blur));
}

.navbar-brand, .h1 {
    color: var(--main-font-color);
}

.footer {
    background: linear-gradient(0deg, rgba(0,0,0,.65), rgba(0,0,0,.65)), var(--color-primary);
}


