@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

:root {
    --color-primary: #0099ff;
    --font-color: #2a2b2a;
    --glass-blur: 10px; 
}

body {
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.glass {
    background: rgba(0, 153, 255, 0.2);
    -webkit-backdrop-filter: blur(var(--glass-blur));
    backdrop-filter: blur(var(--glass-blur));
}

.glass-img {
    background: rgba(0, 153, 255, 0.08);
}



